appdirs==1.4.3
# backports.shutil-get-terminal-size==1.0.0
# base-theme==1.0
decorator==4.0.11
Django==1.11.23
django-autocomplete-light==3.2.10
django-bootstrap-themes==3.3.6
django-bootstrap3==10.0.1
django-concurrency>=2.0.0
django-mail-templated==2.6.5
django-fontawesome==0.2.2
django-tables2==1.21.2
enum34==1.1.6
ipython==5.3.0
ipython-genutils==0.2.0
MySQL-python==1.2.5
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
# pkg-resources==0.0.0
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==4.2b1
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
twentytab-totalsum-admin>=0.9
xhtml2pdf==0.2.3
wcwidth==0.1.7
