{% load booking_tags %}
{% load render_table from django_tables2 %}

{% block detail %}
    {% with current.get_bookingservice_object as service %}
        {% if service.base_service.category == 'E' %}{# Extra service #}
            Time: {{ service.time }}
        {% elif service.base_service.category == 'T' %}{# Transfer service #}
            <div>Time: {{ service.time }}</div>
            <div>Pick Up: {% if service.pickup %}{{ service.pickup }}
            {% elif service.place_from %}{{ service.place_from }}{% endif %}</div>
            <div>Drop Off: {% if service.dropoff %}{{ service.dropoff }}
            {% elif service.place_to %}{{ service.place_to }}{% endif %}</div>
        {% elif service.base_service.category == 'A' %}{# Accommodation service #}
            Booking Info
        {% endif %}
    {% endwith %}
    {% if current.has_payment %}
    {% providerbookingpayment_table current as table %}
    <div class="providerbookingpayments-container">
        {% render_table table %}
    </div>
    {% endif %}
{% endblock detail %}
