{% extends "booking/bookingservice_change_form.html" %}

{% load static %}

{% block head_extra %}
  {% include 'config/include/load_service_id.html' with service_id=object_id %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'booking/js/bookingtransfer.js' %}"></script>
  <script type="text/javascript" src="{% static 'booking/js/bookingservicetransfer.js' %}"></script>
  <script type="text/javascript" src="{% static 'booking/js/bookingservice_change.js' %}"></script>
  <script type="text/javascript" src="{% static 'config/js/add_service_detail.js' %}"></script>
{% endblock head_extra %}

{% block content %}
  {{ block.super }}
  {% include 'config/include/search_service_dialog.html' with form=search_service_form %}
{% endblock content %}
