{% load booking_tags %}
{% load render_table from django_tables2 %}

{# buttons to add new bookingServices to the current booking #}
{% include 'booking/booking_details_buttons.html' %}
{% bookingservice_table current as table %}
<div class="bookingservices-container">
    {% render_table table %}
    {% include 'booking/booking_details_buttons.html' %}
    {% include 'booking/emails/popup_modal_form.html' with modal_title='Invoice Mail' %}
</div>
{% if perms.booking.view_agency_payments %}
    <div class="payments-container">
        {% agencypayment_table current as table %}
        <b>AGENCY PAYMENTS </b>
        <button id="btn_payments_collapse_{{ current.pk }}" type="button" class="btn btn-default btn-xs left-bg-color booking_payments collapsed" data-toggle="collapse" data-target="#div_payments_{{ current.pk }}" aria-expanded="false">
            <span class="booking_payments glyphicon"></span>
        </button>
        <div id="div_payments_{{ current.pk }}" class="agencypayment-container collapse">
            {% render_table table %}
        </div>
    </div>
{% endif %}
