{% extends "common/change_form.html" %}

{% load static %}

{% block body_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'booking/js/booking.js' %}"></script>
  <script type="text/javascript" src="{% static 'booking/js/mail_popup.js' %}"></script>
  <script type="text/javascript" src="{% static 'config/js/add_service_detail.js' %}"></script>
{% endblock body_scripts %}
{% block content %}
  {{ block.super }}
  {% include 'config/include/search_service_dialog.html' with form=search_service_form %}
{% endblock content %}
