<div id="detail-buttons">
    <span class="add-services">
        <span class="dropdown">
            <a id="dropdownMenu" role="button" data-toggle="dropdown" class="btn btn-success" data-target="#">
                Add Service <span class="caret"></span>
            </a>
    	    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="{% url 'common:booking_bookingprovidedallotment_add' %}?booking={{ current.id }}">New Accomodation</a></li>
                <li><a href="{% url 'common:booking_bookingprovidedtransfer_add' %}?booking={{ current.id }}">New Transfer</a></li>
                <li><a href="{% url 'common:booking_bookingprovidedextra_add' %}?booking={{ current.id }}">New Extra</a></li>
                <li><a href="{% url 'common:booking_bookingextrapackage_add' %}?booking={{ current.id }}">New Package</a></li>
            </ul>
        </span>
        <a class="btn btn-success" href="{% url 'common:booking_booking_add_booking_pax' current.id %}">Update Rooming</a>
        <a class="btn btn-primary" href="{% url 'send_booking_confirmation' current.id %}">Confirmation</a>
        <a class="btn btn-primary" href="{% url 'common:booking_booking_config_vouchers' current.id %}">Voucher</a>
        <a class="btn btn-primary" href="{% url 'booking_invoice' current.id %}">Invoice</a>
        {% if current.invoice %}
            <a class="btn btn-primary" href="{% url 'booking_invoice_pdf' current.id %}">PDF</a>
            {% include "booking/emails/popup_button.html" with btn_label='Send Invoice' %}
            <a class="btn btn-danger" data-toggle="modal" data-target="#myModal" href="#">Cancel Invoice</a>
            {% endif %}
    </span>
</div>

<div class="modal fade" id="myModal" tab-index="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal-title">Confirm Cancelation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel the invoice</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Abort</button>
                <a class="btn btn-danger" href="{% url 'booking_invoice_cancel' current.id %}">Cancel Invoice</a>
            </div>
        </div>
    </div>
</div>
