<div id="detail-buttons">
    <span class="add-services">
        <a class="btn btn-success" href="{% url 'common:booking_bookingallotment_add' %}?booking={{ current.id }}">+ Accomodation</a>
        <a class="btn btn-success" href="{% url 'common:booking_bookingtransfer_add' %}?booking={{ current.id }}">+ Transfer</a>
        <a class="btn btn-success" href="{% url 'common:booking_bookingextra_add' %}?booking={{ current.id }}">+ Extra</a>
        <a class="btn btn-success" href="{% url 'common:booking_bookingpackage_add' %}?booking={{ current.id }}">+ Package</a>
        <a class="btn btn-primary" href="{% url 'send_booking_confirmation' current.id %}">Confirmation</a>
        <a class="btn btn-primary" href="{% url 'common:booking_booking_config_vouchers' current.id %}">Voucher</a>
        <a class="btn btn-primary" href="{% url 'booking_invoice' current.id %}">Invoice</a>
        {% if current.invoice %}
            <a class="btn btn-danger" href="{% url 'booking_invoice_cancel' current.id %}">Cancel Invoice</a>
        {% endif %}
    </span>
</div>
