<div id="detail-buttons">
    <span class="detail-buttons">
        <a class="btn btn-success" href="{% url 'common:booking_bookingprovidedallotment_add' %}?booking_package={{ current.id }}">+ Accomodation</a>
        <a class="btn btn-success" href="{% url 'common:booking_bookingprovidedtransfer_add' %}?booking_package={{ current.id }}">+ Transfer</a>
        <a class="btn btn-success" href="{% url 'common:booking_bookingprovidedextra_add' %}?booking_package={{ current.id }}">+ Extra</a>
    </span>
</div>
