{% extends "common/change_list.html" %}

{% load i18n static common_utils admin_list %}

    {% block search %}
      {% common_search_form cl %}
    {% endblock search %}
    {% block date_hierarchy %}
      {% date_hierarchy cl %}
    {% endblock date_hierarchy %}

    {% block filters %}
      {% if cl.has_filters %}
        <div class="changelist-filter">
          <h2>{% trans 'Filter' %}</h2>
          {% for spec in cl.filter_specs %}
            {% admin_list_filter cl spec %}
          {% endfor %}
        </div>
      {% endif %}
    {% endblock %}

    {% block result_list %}
        {% if action_form and actions_on_top and cl.show_admin_actions %}
          {% admin_actions %}
        {% endif %}
        {% common_result_list cl %}
        {% if action_form and actions_on_bottom and cl.show_admin_actions %}
          {% admin_actions %}
        {% endif %}
    {% endblock %}
    {% block pagination %}{% common_pagination cl %}{% endblock %}
    </form>
  </div>

{% endblock content %}
