<div id="popup-costs" class="modal fade" tab-index="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title" id="modal-title">Providers Costs</h4>
    </div>
    <div class="modal-body">
      <div id="providers-costs-content">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" data-dismiss="modal">Back</button>
    </div>
  </div> 
</div>
