{% extends "common/change_form.html" %}

{% load static %}

{% block head_extra %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'booking/js/providerbookingpayment.js' %}"></script>
  <script type="text/javascript" src="{% static 'booking/js/mail_popup.js' %}"></script>
{% endblock head_extra %}

{% block after_related_objects %}
  {{ block.super }}
  {% include "booking/include/services_formset.html" %}
{% endblock after_related_objects %}

{% block admin_change_form_document_ready %}
  {{ block.super }}
  {% include "booking/emails/popup_modal_form.html" %}
{% endblock admin_change_form_document_ready %}
