{% load booking_tags %}
{% load render_table from django_tables2 %}

<div class="quoteservices-container">
    {# buttons to add new services to the current quote #}
    {% include 'booking/quote_details_buttons.html' %}
    {% quoteservice_table current as table %}
    {% render_table table %}
    {% include 'booking/quote_details_buttons.html' %}
    {% include 'booking/emails/popup_modal_form.html' %}
</div>
<div class="quotepaxvariant-container">
    {% quotepaxvariant_table current as variant_table %}
    {% render_table variant_table %}
</div>

