{% extends "common/change_form.html" %}

{% load static %}

{% block head_extra %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'booking/js/quoteextra.js' %}"></script>
  <script type="text/javascript" src="{% static 'booking/js/provider_costs.js' %}"></script>
  <script type="text/javascript" src="{% static 'booking/js/quoteservice.js' %}"></script>
{% endblock head_extra %}

{% block content %}
  {{ block.super }}
  {% include "booking/popup_providers_costs.html" %}
{% endblock content %}
