{% load booking_tags i18n %}{% if bs.base_service.category == 'T' %}{# This is a Transfer #}
-   {{ bs.datetime_from|date:"d-b-Y" }}   Hora: {{ bs.time|time:"H:i" }} hrs
    {{ bs.service}}  -> {{ bs.location_to }}
    Pick Up: {% if bs.pickup %}{{ bs.pickup.name }}({{ bs.pickup.address }}){% endif %}
    Drop Off: {% if bs.dropoff %}{{ bs.dropoff.name }}({{ bs.dropoff.address }}){% endif %}{% elif bs.base_service.category == 'A' %}{# This is an Accomodation #}
-   {{ bs.datetime_from|date:"d-b-Y" }} --> {{ bs.datetime_to|date:"d-b-Y" }}
    {{ bs.name }}
    {% get_distribution bs %}{% elif bs.base_service.category == 'E' %}{# This is an Extra #}
-   {{ bs.datetime_from|date:"d-b-Y" }}   {% if bs.time %}Hora: {{ bs.time|time:"H:i" }} hrs{% endif %}
    {{ bs.service }}
{% elif bs.base_category == 'BP' %}{# This is a Package #}
-   {{ bs.datetime_from|date:"d-b-Y" }}   {% if bs.time %}Hora: {{ bs.time|time:"H:i" }} hrs{% endif %}
    {{ bs.service }}
{% endif %}
----------------------------------
