<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mailModalLabel">{{ modal_title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="m_to" class="col-form-label">To:</label>
                    <input type="text" class="form-control" id="m_to">
                </div>
                <div class="form-group">
                    <label for="m_cc" class="col-form-label">Cc:</label>
                    <input type="text" class="form-control" id="m_cc">
                </div>
                <div class="form-group">
                    <label for="m_bcc" class="col-form-label">Bcc:</label>
                    <input type="text" class="form-control" id="m_bcc">
                </div>
                <div class="form-group">
                    <label for="m_subject" class="col-form-label">Subject:</label>
                    <input type="text" class="form-control" id="m_subject">
                </div>
                <div class="form-group">
                    <label for="m_body" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="m_body"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="send_btn" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>    
