{% load booking_tags %}Hola {% if provider.alias %}{{ provider.alias }}{% else %}{{ provider }}{% endif %}:

Por favor confirmar:
[Ref.{{ booking.internal_reference }}] {{ booking.name }} {% if booking.reference %}({{ booking.reference }}){% endif %}
----------------------------------
Servicios
----------------------------------
{% for booking_service in services %}{% render_service booking_service provider %}{% endfor %}Gracias
{% if provider.is_private %}{{ user.get_short_name }}{% else%}Liber{% endif %}
