{% load booking_tags %}Hola {% if provider.alias %}{{ provider.alias }}{% else %}{{ provider }}{% endif %}:

Por favor confirmar:
[Ref.{{ booking.internal_reference }}] {{ booking.name }} {% if booking.reference %}({{ booking.reference }}){% endif %}
----------------------------------
Servicios
----------------------------------
{% for booking_service in services %}{% render_service booking_service provider %}{% endfor %}Gracias
{% if provider.is_private %}{{ user.get_short_name }}{% else%}Liber Martinez

ERGOS CONTINENTAL, CUBA
Miramar Trade Center
Edif. Santiago, Bajos
Calle 78 e/3ra y 5ta avenida
email: ventas1@ergosonline.com
Telf: (53 7)208 2512/13, Monday to Friday (09h00am to 18h00)
Movil: (53 5)551 1234{% endif %}
