<!doctype html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'booking/css/extras.css' %}" />
    <script type="text/javascript">
        var base_url = "{% url 'common:index' %}";
    </script>
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    <script src="{% static 'common/js/jquery.min.js' %}"></script>
    {% block head_extra %}
    {% endblock head_extra %}

    <script src="{% static 'common/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'common/js/vue.js' %}"></script>
    <script src="{% static 'common/js/cleave.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'common/css/base.css' %}" />
</head>
<body data-common-utc-offset="{% now "Z" %}">
    {% if not is_popup %}
        {% block navbar %}
        {% endblock navbar %}
    {% endif %}
    <div id="main_container" class="container-fluid">
        <div class="row collapse show d-flex leftbar-collapse">
            {% if not is_popup %}
                {% block leftbar %}
                {% endblock leftbar %}
            {% endif %}
            <div id="page_container" class="col bd-content {% if is_popup %}popup"{% endif %}">
                {% if not is_popup %}
                    <button id="btn_left_collapse" type="button" href="#" class="btn btn-sm left-bg-color" data-toggle="collapse" data-target="#leftbar_container">
                        <span class="fa fa-arrow-left"></span>
                    </button>
                {% endif %}
                <div id="page_content_container">
                    {% block messages %}
                    {% endblock messages %}
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
    {% block body_scripts %}
    {% endblock body_scripts %}
</body>
</html>
