{% extends "common/base_site.html" %}

{% load i18n static admin_urls common_utils admin_modify %}

{% block head_extra %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "common/css/forms.css" %}" />
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock head_extra %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% block content %}
  <div class="change-main">
    {% block object-tools %}
      {% if change %}
        {% if not is_popup %}
          <ul class="object-tools">
              {% block object-tools-items %}
                {% if change_tools %}
                  {% for tool in change_tools %}
                    <li>
                      {% url site_namespace|add:':'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_'|add:tool.name original.pk|admin_urlquote as tool_url %}
                      <a href="{{ tool_url }}" class="change-tool change-tool-{{ tool.name }}">{% trans tool.label %}</a>
                    </li>
                  {% endfor %}
                {% endif %}
                <li>
                  {% url site_namespace|add:':'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_history' original.pk|admin_urlquote as history_url %}
                  <a href="{% common_add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
                </li>
              {% endblock %}
          </ul>
        {% endif %}
      {% endif %}
    {% endblock object-tools %}
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
      <div>
        {% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
        {% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
        {% if save_on_top %}
          {% block submit_buttons_top %}
            {% common_submit_row %}
          {% endblock %}
        {% endif %}
        {% if errors %}
          <p class="errornote">
            {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
          </p>
          {{ adminform.form.non_field_errors }}
        {% endif %}
        {% block field_sets %}
          {% for fieldset in adminform %}
            {% include "admin/includes/fieldset.html" %}
          {% endfor %}
        {% endblock field_sets %}

        {% block after_field_sets %}
        {% endblock after_field_sets %}

        {% block inline_field_sets %}
          {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
          {% endfor %}
        {% endblock inline_field_sets %}

        {% block after_related_objects %}
        {% endblock after_related_objects %}

        {% block submit_buttons_bottom %}
          {% common_submit_row %}
        {% endblock submit_buttons_bottom %}

        {% block admin_change_form_document_ready %}
          <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
              data-model-name="{{ opts.model_name }}"
            {% endif %}>
          </script>
        {% endblock admin_change_form_document_ready %}

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}

      </div>
    </form>
    {% if object_id and opts.details_template %}
    <div class="details" id="div_{{ object_id }}">
      {% include opts.details_template with current=original %}
    </div>
    {% endif %}
</div>
{% endblock content %}
