{% extends "common/change_form.html" %}
{% load config_tags %}
{% load render_table from django_tables2 %}
{% load static %}

{% block head_extra %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'config/css/forms.css' %}"></link>
{% endblock %}

 {% block inline_field_sets %}
     {% catalog_detail_context original as context %}
     {% if context.table.paginated_rows %}
         {% render_table context.table %}
     {% endif %}
     {{ formset.management_form }}
     {{ block.super }}
{% endblock inline_field_sets %}
