/* .bookingservices-container { */
/*     width: 75%; */
/*     float: left; */
/* } */

/* .bookingpax-container { */
/*     width: 20%; */
/*     float: right; */
/* } */

.field-conf_number .vTextField {
    width: 150px;
}

#detail-buttons{
    margin: 10px;
}

#detail-buttons .btn, .service_type a.btn{
    margin-right: 10px;
    color: white;
}

#rooming_list-group .tabular tr td.original{
    width: 200px;
}

#rooming_list-group .tabular tr td.original p{
    height: 20px;
}

a.build-booking {
    color: white;
}

/*********** VOUCHERS' STYLES **************/

div.voucher-main{
    width: 900px;
    height: 400px;
    border: 1px solid black;
    padding: 8px 8px 0 8px;
}

div.voucher-header{
    height: 100px;
    border: 1px solid black;
}

div.voucher-header-logo, div.voucher-header-center{
    width: 33%;
    float: left;
}

div.voucher-header-center{
    margin-top: 50px;
    text-align: center;
}

div.voucher-header-address{
    width: 33%;
    float: left;
}

div.voucher-title{
    height: 30px;
    border: 1px solid black;
    padding: 8px 0 0 10px;
}

div.voucher-title-label{
    float: left;
    width: 400px;
}

div.voucher-title-date-in{
    float: left;
    width: 300px;
}

div.voucher-content{
    padding: 10px 10px 0 10px;
}

div.voucher-content-client{
    float: left;
    width: 500px;
}

div.voucher-content-adult{
    float: left;
    width: 200px;
}
div.inline-change-link {
    width: 50px;
    margin-top: 20px;
    background-color: lightgray;
    border-radius: 3px;
    padding: 5px;
    vertical-align: baseline;
}