.bookingservices-container {
    width: 75%;
    float: left;
}

.bookingpax-container {
    width: 20%;
    float: right;
}

.field-conf_number .vTextField {
    width: 150px;
}

#detail-buttons{
    margin: 10px;
}

#detail-buttons .btn, .service_type a.btn{
    margin-right: 10px;
    color: white;
}

#rooming_list-group .tabular tr td.original{
    width: 200px;
}

#rooming_list-group .tabular tr td.original p{
    height: 20px;
}

a.build-booking {
    color: white;
}