/*
    base styles
*/

@import url(fonts.css);

.navbar {
    min-height: 0px;
    background: #417690;
}    
.navbar-default .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #f5dd5d;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ccc;
}
/* menus expand on hover */
.dropdown:hover .dropdown-menu {
	display: block;
}

#main_container.collapse {
    display: block;
}
#main_container.collapsing {
    height: 100%;
}

#leftbar_container {
    position: fixed;
    top: 35px;
    bottom: 0px;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 10px;
}

#page_container {
    position: fixed;
    top: 35px;
    bottom: 0px;
    right: 0px;
    overflow-x: auto;
    overflow-y: auto;
}

#main_container.collapse > #leftbar_container {
    width: 0px;
    padding: 0px;
}
#main_container.collapse > #page_container {
    left: 0px;
}

#main_container.collapse.in > #leftbar_container {
    width: 250px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 10px;
}
/* */
#main_container.collapse.in > #page_container {
    left: 250px;
}
/* popup full screen */
#main_container.collapse.in > #page_container.popup {
    top: 0px;
    left: 0px;
}

/* bg colors for left bar and collapse button */
.left-bg-color {
    background-color: #ddd;
    border-color: #ddd;
}

/* button to collase left bar */
#btn_left_collapse {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
#btn_left_collapse span.glyphicon:before {
    content: "\e079";
}
#btn_left_collapse.collapsed  span.glyphicon:before {
    content: "\e080";
}

#leftbar_container > * {
    background-color: #ddd;
    border-color: #ddd;
}

ul.left-nav {
    margin-left: 5px;
    margin-right: 0px;
    padding: 0px;
}

ul.left-nav > li {
    background-color: #f8f8f8;
    list-style: none;
    margin: 5px;
    padding: 3px 10px 3px 25px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

ul > li {
    background-position: 6px 5px;
    background-size: auto 16px;
    background-repeat: no-repeat;
}

ul.messagelist li, ul.messagelist li.warning, ul.messagelist li.error {
    padding: 5px 5px 5px 60px;
    margin: 0 0 5px 0;
    background-position-y: 8px;
}

/* general */
#page_content_container {
    padding: 5px 20px;
}
nav ul li {
    list-style: none;
}
.change-main {
    float: left;
    width: 100%;
}
.object-tools {
    margin-top: -30px;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-row a.deletelink, .div-changelist .search-toolbar form .searchbar {
    height: auto;
}
.div-changelist .actions label {
    margin-bottom: 0px;
}
.dropdown-menu > li > a {
    padding: 3px 10px 3px 25px;
}

.submit-row {
    text-align: center;
}

.submit-row input.btn-save {
    float: right;
}

.change-tool {
    background-color: green;
}

.submit-row input.change-action {
    background-color: green;
}

.form-row {
    padding: 3px 10px;
}

td, th {
    padding: 3px;
    line-height: 12px;
    vertical-align: middle;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="number"], textarea, select, .vTextField {
    padding: 5px 3px;
}
