{% load common_utils %}

<html>
<head>
    <style>
        @page {
            size: a4 portrait;
            @frame content_frame { /* Content Frame */
                left: 45pt; right: 45pt; top: 45pt; bottom: 295pt;
            };
            @frame footer_frame { /* Another static Frame */
                -pdf-frame-content: footer_content;
                left: 45pt; right: 45pt; bottom: 45pt; height: 250pt;
            }
        }
        tr.top-line {
            border-top: 1px solid black;
        }
        tr.bottom-line {
            border-bottom: 1px solid black;
        }
        td.label {
            text-align: right;
            padding: 4px,3px,0px,0px;
        }
        td.content {
            text-align: left;
            padding: 4px,0px,0px,3px;
        }
        td.content-centered {
            text-align: center;
            padding: 4px,0px,0px,3px;
        }
    </style>
</head>
    <body>
        <div id="footer_content">
            <p style="font-weight:bold">BANK DETAILS</p>
            Beneficiary Name: LLOGO S.A.<br>
            Beneficiary Account: 4021027875<br>
            ADDRESS: CALLE 38, EDIF LOS CRISTALES, OFICINA 6-8, CIUDAD PANAMA<br>
            Beneficiary Bank: CREDICORP BANK Panama, Rep. de Panama<br>
            SWIFT: CRLDPAPA<br>
            Address: Calle 50 Edif Plaza Credicorp Bank, Obarrio, CIUDAD PANAMA<br>
            <p>Please send transfer through our correspondent bank below.<br>
            Intermediary Bank:<br>
            WELLS FARGO BANK NA<br>
            375 Park Ave. NY 4080<br>
            New York, N.Y. U.S.A.<br>
            Fedwire : 026005092<br>
            SWIFT: PNBPUS3NNYC<br>
            Account with Intermediary Bank: 20001923715</p>
            <p style="color:red; font-weight:bold;">IMPORTANT: This is a safe way to pay our services, but due to the US embargo against Cuba you MUST NOT write down in the bank forms any word that could be associated to Cuba, such as hotel names, tour names or any service in Cuba, only the name of the client or invoice number; otherwise your money could be retained by US government.
            <br>
            We are not responsible for retained payments for not following above indications.</p>
        </div>
        <table>
            <tr>
                <td width="30%">
                    {% if invoice.office.logo %}
                        <img width=150 height=90 src="{{ invoice.office.logo.url }}"  alt="Office">
                    {% endif %}
                </td>
                <td width="35%" style="text-align: center;">
                    <h1><b>INVOICE</b></h1>
                    <h2><b>{{ invoice.reference }}</b></h2>
                </td>
                <td width="35%" style="text-align: center;">
                    {{ invoice.office.name }}<br>
                    {{ invoice.office.address }}<br>
                    {{ invoice.office.detail1 }}<br>
                    {{ invoice.office.detail2 }}
                </td>
            </tr>
        </table>
        <table style="border: 1px solid black;">
            <tr">
                <td width="15%" class="label">
                    CLIENT
                </td>
                <td width="55%" class="content">
                    {{ invoice.agency }}
                </td>
                <td width="15%" class="label">
                    CURRENCY
                </td>
                <td width="15%" class="content">
                    {{ invoice.currency }}
                </td>
            </tr>
            <tr>
                <td class="label">
                    CLIENT REF.
                </td>
                <td class="content">
                    {{ invoice.booking_name }}
                </td>
                <td class="label">
                    FROM
                </td>
                <td class="content">
                    {{ invoice.date_from|date:"d-M-y" }}
                </td>
            </tr>
            <tr>
                <td class="label">
                    COUNTRY
                </td>
                <td class="content">
                </td>
                <td class="label">
                    TO
                </td>
                <td class="content">
                    {{ invoice.date_to|date:"d-M-y" }}
                </td>
            </tr>
            <tr>
                <td class="label">
                    ISSUED BY
                </td>
                <td class="content">
                    {{ invoice.issued_name }}
                </td>
                <td class="label">
                    DATE
                </td>
                <td class="content">
                    {{ invoice.date_issued|date:"d-M-y" }}
                </td>
            </tr>
        </table>
        <p>
        {% for partial in partials %}
            {% if forloop.first %}
                <span>{{ partial.pax_name }}</span>
            {% else %}
                <span>, {{ partial.pax_name }}</span>
            {%endif %}
            {% if partial.is_free %}
                <span> (free)</span>
            {% endif %}
        {% endfor %}
        </p>
        {% if details %}
        <table>
            <tr style="border: 1px solid black;">
                <td width=10% class="content-centered"><b>FROM</b></td>
                <td width=10% class="content-centered"><b>TO</b></td>
                <td width=55% class="content"><b>DESCRIPTION</b></td>
                <td width=15% class="content-centered"><b>DETAIL</b></td>
                <td width=10% class="label"><b>AMOUNT</b></td>
            </tr>
            {% for detail in details %}
            <tr style="padding-top: 2px;">
                <td style="text-align: center;">{{ detail.date_from|date:"d-M-y" }}</td>
                <td style="text-align: center;">{{ detail.date_to|date:"d-M-y" }}</td>
                <td style="padding-left: 3px;">{{ detail.description }}</td>
                <td style="text-align: center;">{{ detail.detail }}</td>
                <td style="padding-right: 3px;text-align: right;">{{ detail.price }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br>
        {% if invoice.content_format == "S" %}
        <table>
            <tr style="border: 1px solid black;">
                <td width=10% class="content-centered"><b>FROM</b></td>
                <td width=10% class="content-centered"><b>TO</b></td>
                <td width=80% class="content"><b>DESCRIPTION</b></td>
            </tr>
        {% for line in lines %}
            <tr style="padding-top: 2px;">
                <td style="text-align: center;">
                    {% if line.date_from %}
                        {{ line.date_from|date:"d-M-y" }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if line.date_to %}
                        {{ line.date_to|date:"d-M-y" }}</td>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td style="padding-left: 3px;">{{ line.bookingservice_name }}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        {% endif %}
        {% if invoice.content_format == "D" %}
        <table>
            <tr style="border: 1px solid black;">
                <td width=10% class="content-centered"><b>FROM</b></td>
                <td width=10% class="content-centered"><b>TO</b></td>
                <td width=70% class="content"><b>DESCRIPTION</b></td>
                <td width=10% class="label"><b>AMOUNT</b></td>
            </tr>
        {% for line in lines %}
            <tr style="padding-top: 2px;">
                <td style="text-align: center;">
                    {% if line.date_from %}
                        {{ line.date_from|date:"d-M-y" }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if line.date_to %}
                        {{ line.date_to|date:"d-M-y" }}</td>
                    {% else %}
                        -
                    {% endif %}
                <td style="padding-left: 3px;">{{ line.bookingservice_name }}</td>
                <td style="padding-right: 3px; text-align:right;">{{ line.price }}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        {% endif %}

        <table>
            <tr class="top-line{% if not invoice.cash_amount %} bottom-line{%endif %}">
                <td width="65%" class="content-centered">
                {% if not invoice.cash_amount %}
                    <b>THIS INVOICE MUST BE PAID BY {{ invoice.date_from|substract_days:10|date:"d-M-y" }}</b>
                {%endif %}
                </td>
                <td width="25%" class="label">
                    <b>TOTAL</b>
                </td>
                <td width="10%" class="label">
                    <b>{{ invoice.amount }}</b>
                </td>
            </tr>
            {% if invoice.cash_amount %}
            <tr>
                <td class="content-centered">
                    <b>THIS INVOICE MUST BE PAID BY {{ invoice.date_from|substract_days:10|date:"d-M-y" }}</b>
                </td>
                <td class="label">
                    <b>TO BE PAID IN CASH</b>
                </td>
                <td class="label">
                    <b>{{ invoice.cash_amount }}</b>
                </td>
            </tr>
            <tr class="bottom-line">
                <td>
                </td>
                <td class="label">
                    <b>TO BE PAID BY TRANSFER</b>
                </td>
                <td class="label">
                    <b>{{ invoice.amount|substract:invoice.cash_amount }}</b>
                </td>
            </tr>
            {%endif %}
        </table>
    </body>
</html>
