{% load common_utils %}
{% if details %}
<table width="100%">
{% if service.category == 'A'%}
    <tr>
        {% if service.pax_range %}
            <td colspan="12" class="bold-top-line">
                <b>Service:</b> {{ service.name }}
            </td>
        {% else %}
            <td colspan="11" class="bold-top-line">
                <b>Service:</b> {{ service.name }}
            </td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="{% if service.pax_range %}12{% else %}11{% endif %}" class="top-line">Price format: Adlt (1Chld / 2Chld)</td>
    </tr>
    <tr>
        <td class="top-line board-content"><b>Board</b></td>
        <td class="top-line room-type-content"><b>Room</b></td>
        {% if service.pax_range %}
            <td class="top-line pax-range-content"><b>Pax Range</b></td>
        {% endif %}
        <td class="top-line date-content"><b>Book From</b></td>
        <td class="top-line date-content"><b>Book To</b></td>
        <td class="top-line code-content"><b>Code</b></td>
        <td class="top-line date-content"><b>From</b></td>
        <td class="top-line date-content"><b>To</b></td>
        <td class="top-line amount-content"><b>SGL</b></td>
        <td class="top-line amount-content"><b>DBL</b></td>
        <td class="top-line amount-content"><b>TPL</b></td>
        <td class="top-line amount-content"><b>QPL</b></td>
    </tr>
    {% setvar '' as prev_board %}
    {% setvar '' as prev_room %}
    {% setvar '' as prev_addon %}
    {% for detail in details %}
        {% setvar False as print_top_line %}
        <tr>
            {% if detail.board_type != prev_board %}
                {% setvar True as print_top_line %}
            {% endif %}
            <td class="top-line board-content">
                {% if print_top_line %}
                    {{ detail.board_type }}
                {% endif %}
            </td>
            {% if not print_top_line and detail.room_type.name != prev_room %}
                {% setvar True as print_top_line %}
            {% endif %}
            {% if print_top_line %}
                <td class="top-line room-type-content">
                    {{ detail.room_type.name }}
                </td>
            {% else %}
                <td></td>
            {% endif %}
            {% if service.pax_range %}
                <td class="top-line pax-range">
                    {{ detail.pax_range_min }} - {{ detail.pax_range_max }}
                </td>
            {% endif %}
            <td class="top-line date">
                {{ detail.agency_service.booked_from | date:"d-b-Y" }}
            </td>
            <td class="top-line date">
                {{ detail.agency_service.booked_to | date:"d-b-Y" }}
            </td>
            <td class="top-line date">
                {{ detail.agency_service.contract_code }}
            </td>
            <td class="top-line date">
                {{ detail.agency_service.date_from | date:"d-b-Y" }}
            </td>
            <td class="top-line date">
                {{ detail.agency_service.date_to | date:"d-b-Y" }}
            </td>
            <td class="top-line amount">
                {{ detail.ad_1_amount | default:"" }}{% if detail.ch_1_ad_1_amount or detail.ch_2_ad_1_amount %} ({{detail.ch_1_ad_1_amount|floatformat:"0"}}/{{detail.ch_2_ad_1_amount | floatformat:"0" | default:"-"}}){% endif %}
            </td>
            <td class="top-line amount">
                {{ detail.ad_2_amount  | default:""}}{% if detail.ch_1_ad_2_amount or detail.ch_2_ad_2_amount %} ({{detail.ch_1_ad_2_amount|floatformat:"0"}}/{{detail.ch_2_ad_2_amount | floatformat:"0" | default:"-"}}){% endif %}
            </td>
            <td class="top-line amount">
                {{ detail.ad_3_amount | default:"" }}
            </td>
            <td class="top-line amount">
                {{ detail.ad_4_amount | default:"" }}
            </td>
        </tr>
        {% setvar detail.board_type as prev_board %}
        {% setvar detail.room_type.name as prev_room %}
        {% setvar detail.addon.name as prev_addon %}
    {% endfor %}

{% elif service.category == 'T' %}
    <tr>
        {% if service.pax_range %}
            <td colspan="7" class="bold-top-line">
                <b>Service:</b> {{ service.name }}
            </td>
        {% else %}
            <td colspan="6" class="bold-top-line">
                <b>Service:</b> {{ service.name }}
            </td>
        {% endif %}
    </tr>
    <tr>
        <td class="top-line"><b>Origin</b></td>
        <td class="top-line"><b>Destination</b></td>
        <td class="top-line addon-content"><b>Addon</b></td>
        {% if service.pax_range %}
            <td class="top-line pax-range-content"><b>Pax Range</b></td>
        {% endif %}
        <td class="top-line date-content"><b>From</b></td>
        <td class="top-line date-content"><b>To</b></td>
        <td class="top-line amount-content"><b>Price</b></td>
    </tr>
    {% setvar '' as prev_from %}
    {% setvar '' as prev_to %}
    {% setvar '' as prev_addon %}
    {% for detail in details %}
        {% setvar False as print_top_line %}
        <tr>
            {% if detail.location_from.name != prev_from %}
                {% setvar True as print_top_line %}
            {% endif %}
            {% if print_top_line %}
                <td class="top-line">
                    {{ detail.location_from.name }}
                </td>
            {% else %}
                <td></td>
            {% endif %}
            {% if not print_top_line and detail.location_to.name != prev_to %}
                {% setvar True as print_top_line %}
            {% endif %}
            {% if print_top_line %}
                <td class="top-line">
                    {{ detail.location_to.name }}
                </td>
            {% else %}
                <td></td>
            {% endif %}
            {% if not print_top_line and detail.addon.name != prev_addon %}
                {% setvar True as print_top_line %}
            {% endif %}
            {% if print_top_line %}
                <td class="top-line">
                    {{ detail.addon.name }}
                </td>
            {% else %}
                <td></td>
            {% endif %}
            {% if service.pax_range %}
                <td class="top-line pax-range">
                    {{ detail.pax_range_min }} - {{ detail.pax_range_max }}
                </td>
            {% endif %}
            <td class="top-line date">
                {{ detail.agency_service.date_from | date:"d-b-Y" }}
            </td>
            <td class="top-line date">
                {{ detail.agency_service.date_to | date:"d-b-Y" }}
            </td>
            <td class="top-line amount">
                {{ detail.ad_1_amount }}
            </td>
        </tr>
        {% setvar detail.location_from.name as prev_from %}
        {% setvar detail.location_to.name as prev_to %}
        {% setvar detail.addon.name as prev_addon %}
    {% endfor %}

{% elif service.category == 'E' %}
    <tr>
        {% if service.pax_range %}
            <td colspan="5" class="bold-top-line">
                <b>Service:</b> {{ service.name }}
                {% if service.description %}
                    <br>{{ service.description }}
                {% endif %}
            </td>
        {% else %}
            <td colspan="4" class="bold-top-line">
                <b>Service:</b> {{ service.name }}
                {% if service.description %}
                    <br>{{ service.description }}
                {% endif %}
            </td>
        {% endif %}
    </tr>
    <tr>
        <td class="top-line"><b>Addon</b></td>
        {% if service.pax_range %}
            <td class="top-line pax-range-content"><b>Pax Range</b></td>
        {% endif %}
        <td class="top-line date-content"><b>From</b></td>
        <td class="top-line date-content"><b>To</b></td>
        <td class="top-line amount-content"><b>Price</b></td>
    </tr>
    {% setvar '' as prev_addon %}
    {% for detail in details %}
        {% setvar False as print_top_line %}
        <tr>
            {% if detail.addon.name != prev_addon %}
                {% setvar True as print_top_line %}
            {% endif %}
            {% if print_top_line %}
                <td class="top-line">
                    {{ detail.addon.name }}
                </td>
            {% else %}
                <td></td>
            {% endif %}
            {% if service.pax_range %}
                <td class="top-line pax-range">
                    {{ detail.pax_range_min }} - {{ detail.pax_range_max }}
                </td>
            {% endif %}
            <td class="top-line date">
                {{ detail.agency_service.date_from | date:"d-b-Y" }}
            </td>
            <td class="top-line date">
                {{ detail.agency_service.date_to | date:"d-b-Y" }}
            </td>
            <td class="top-line amount">
                {{ detail.ad_1_amount }}
            </td>
        </tr>
        {% setvar detail.addon.name as prev_addon %}
    {% endfor %}

{% elif service.category == 'P' %}
    <tr>
        {% if service.pax_range %}
            <td colspan="5" class="bold-top-line">
                <b>Service:</b> {{ service.name }}
                {% if service.description %}
                    <br>{{ service.description }}
                {% endif %}
            </td>
        {% else %}
            <td colspan="4" class="bold-top-line">
                <b>Service:</b> {{ service.name }}
                {% if service.description %}
                    <br>{{ service.description }}
                {% endif %}
            </td>
        {% endif %}
    </tr>
    <tr>
        <td class="top-line"></td>
        {% if service.pax_range %}
            <td class="top-line pax-range-content"><b>Pax Range</b></td>
        {% endif %}
        <td class="top-line date-content"><b>From</b></td>
        <td class="top-line date-content"><b>To</b></td>
        <td class="top-line amount-content"><b>SGL</b></td>
    </tr>
    {% for detail in details %}
        {% setvar False as print_top_line %}
        <tr>
            <td class="top-line"></td>
            {% if service.pax_range %}
                <td class="top-line pax-range">
                    {{ detail.pax_range_min }} - {{ detail.pax_range_max }}
                </td>
            {% endif %}
            <td class="top-line date">
                {{ detail.agency_service.date_from | date:"d-b-Y" }}
            </td>
            <td class="top-line date">
                {{ detail.agency_service.date_to | date:"d-b-Y" }}
            </td>
            <td class="top-line amount">
                {{ detail.ad_1_amount }}
            </td>
        </tr>
    {% endfor %}
{% endif %}
</table>
{% endif %}
