<div class="fieldWrapper">
    <label for="{{ adminform.form.booking_ref_filter.id_for_label }}">Book.Ref.:</label>
    {{ adminform.form.booking_ref_filter }}
    <label for="{{ adminform.form.internal_ref_filter.id_for_label }}">Int.Ref.:</label>
    {{ adminform.form.internal_ref_filter }}
    <label for="{{ adminform.form.booking_name_filter.id_for_label }}">Book.Name:</label>
    {{ adminform.form.booking_name_filter }}
    <label for="{{ adminform.form.date_from_filter.id_for_label }}">From:</label>
    {{ adminform.form.date_from_filter }}
    <label for="{{ adminform.form.date_to_filter.id_for_label }}">To:</label>
    {{ adminform.form.date_to_filter }}
    <label for="{{ adminform.form.confirm_number_filter.id_for_label }}">Conf.Number:</label>
    {{ adminform.form.confirm_number_filter }}
    <input type="submit" value="Filter" class="btn-save btn-filter" name="_filter">
</div>
{{ services_formset.management_form }}
{{ services_formset.non_form_errors.as_ul }}
<table id="services_formset" class="form table table-hover">
{% for form in services_formset.forms %}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1 row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}

    {% if field.field.disabled and field.label != 'sel' %}
        {% if field.label == 'From' or field.label == 'To' %}
            <div id="{{ field.id_for_label }}">{{ field.value|date:"d-M-y" }}</div>
        {% else %}
            <div id="{{ field.id_for_label }}">{{ field.value }}</div>
        {% endif %}
      {% else %}
        {{ field }}
      {% endif %}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
